@using GemNote.Web.Components.SectionComponents

<div class="container">
	<FluentAccordionItem ExpandedChanged="OnExpanded">
		<HeadingTemplate>
			<div class="acc-header">
				<div class="acc-header-left">
					<FluentLabel Typo="Typography.H4" Color="Color.Accent" Style="margin-bottom: 5px;">
						@(Notebook.Name)
					</FluentLabel>
					<FluentBadge Appearance="Appearance.Accent">
						@(Notebook.Category)
					</FluentBadge>
					<FluentLabel Typo="Typography.Body">
						@(Notebook.Description ?? "No description")
					</FluentLabel>
				</div>
				<div class="acc-header-right">
					<FluentStack>
						<FluentLabel Typo="Typography.Body">
							@(Notebook.SectionQty > 0 ? Notebook.SectionQty + " sections" : "No sections")
						</FluentLabel>
					</FluentStack>
				</div>
			</div>
		</HeadingTemplate>
		<ChildContent>
			<FluentStack HorizontalAlignment="HorizontalAlignment.Right" Style="margin-bottom: 0.5rem;">
				<FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())"
				              Appearance="Appearance.Neutral"
				              Title="Edit"
				              OnClick="HandleEdit">
				</FluentButton>

				<FluentButton Title="Delete" OnClick="HandleDelete">
					<FluentIcon Value="@(new Icons.Regular.Size16.Delete())" Color="Color.Error"/>
				</FluentButton>
			</FluentStack>

			<div class="top-bar">
				<FluentLabel Typo="Typography.H5">
					@_message
				</FluentLabel>
				<FluentButton IconStart="@(new Icons.Regular.Size16.AddSquareMultiple())"
				              Appearance="Appearance.Accent"
				              Class="top-btn"
				              OnClick="OpenCreateSectionDialogAsync">
					Add section
				</FluentButton>
			</div>

			@foreach (var section in Sections)
			{
				<SectionComp Section="section"
				             OnEdit="HandleEditSection"
				             OnDelete="HandleDeleteSection"/>
			}
		</ChildContent>
	</FluentAccordionItem>
</div>