@page "/register"
@using GemNote.Web.ViewModels
@using GemNote.Web.ViewModels.RequestModels
@using GemNote.Web.Services.Contracts

@inject IAuthService AuthService
@inject IDialogService DialogService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Sign up</PageTitle>

<style>
	.container {
		width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
<div class="container">

	<FluentLabel Typo="Typography.PageTitle">Sign up</FluentLabel>

	<FluentCard 
		AreaRestricted="false"
		Style="margin: 20px 0; padding: 16px; width: 400px; height: auto;">
		<FluentLabel Style="margin-bottom: 1rem">
			Let's get you all set up!
		</FluentLabel>

		<EditForm Model="@Request" OnValidSubmit="ValidHandlerAsync" FormName="register_entry" novalidate>
			<DataAnnotationsValidator />

			<FluentTextField
				Id="email"
				Label="Email"
				@bind-Value="@Request.Email"
				Style="width: 100%"
				TextFieldType="TextFieldType.Email"
				Placeholder="john.doe@example.com"
				Required="true"
				Spellcheck="true"/>
			<FluentValidationMessage For="@(() => Request.Email)" />
			
			<FluentTextField
				Id="password"
				Label="Password"
				Style="width: 100%"
				TextFieldType="TextFieldType.Password" 
				Placeholder="●●●●●●●●"
				@bind-Value="@Request.Password"
				Required="true"/>
			<FluentValidationMessage For="@(() => Request.Password)" />

			<FluentTextField
				Id="first_name"
				Label="First name"
				@bind-Value="@Request.FirstName"
				Style="width: 100%"
				Placeholder="John"
				Required/>
			<FluentValidationMessage For="@(() => Request.FirstName)" />

			<FluentTextField
				Id="last_name"
				Label="Last name"
				@bind-Value="@Request.LastName"
				Style="width: 100%"
				Placeholder="Doe"
				Required="true"/>
			<FluentValidationMessage For="@(() => Request.LastName)" />

			<FluentSelect
				Id="language"
				TOption="Country"
				Items="Countries"
				Label="Select your language"
				Width="100%"
				Height="200px"
				OptionValue="@(c => c.Code)"
				OptionText="@(c => c.Name)"
				@bind-value="@Request.Language"
				@bind-SelectedOption="@Country">
			</FluentSelect>

			<FluentStack Orientation="Orientation.Horizontal" Style="margin-top: 1rem;">
				<FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" Disabled="_isLoading">Sign up</FluentButton>
				<FluentProgressRing Visible="_isLoading"></FluentProgressRing>
			</FluentStack>
		</EditForm>
	</FluentCard>
</div>

@code {
	[SupplyParameterFromForm]
	private RegisterRequest Request { get; set; } = new();
	private IEnumerable<Country> Countries { get; set; } = Country.All;
	private Country Country { get; set; } = null!;

	private bool _isLoading;

	protected override void OnInitialized()
	{
		Country = Countries.FirstOrDefault(c => c.Code == "vn")!;
	}

	private async Task ValidHandlerAsync()
	{
		_isLoading = true;
		var authResponse = await AuthService.RegisterAsync(Request);
		if (!authResponse.IsSucceed)
		{
			foreach (var error in authResponse.ErrorMessages)
			{
				ToastService.ShowError(error);
			}
			_isLoading = false;
			return;
		}
		_isLoading = false;
		NavigationManager.NavigateTo("login");
	}
}